@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}
html, body, #root, .carousel, .home_wrapper {
  height: 100%;
  margin: 0;
  width: 100%;
}

.image-slide {
  height: 100%;
  width: 100%;
  
}
.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.slide-arrow {
  color: #999;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transition: transform ease-in .1s;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}

/* About Us Section */
.about_wrapper {
    padding: 100px 50px 50px;
    background: #ddd;
    color: #000;
    width: 100%;
    display: block;
}
.inner_div {
    width: 69%;
    float: right;
}
.inner_div p {
	font-size: 14px;
	width: 75%;
}
.image-div {
	max-width: 350px;
    display: inline-block;
	margin-right: 25px;
}
.image-div img {
	max-width: 100%;
    width: 350px;
    height: auto;
    text-align: right;
}
.submit_button {
	color: #fff;
    background: #337;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    display: inline-block;	
}
.submit_button:hover,
.submit_button:active,
.submit_button:focus {
	text-decoration: none;
	color: #fff;
	background: #000;
}
/* Media Queries */
@media (min-width: 992px) {
	.container {
		max-width: 970px;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 90vw;
		width: 100%;
	}
}
@media (max-width: 992px) {
	.title-container__subtitle {
		font-size: 15px;
	}
	.title-container__title {
		font-size: 35px;
		margin-top: 155px;
		text-transform: uppercase;
	}
	input[type="text"],
	button	{
		width: 100%;
		max-width: inherit;
	}
	.form-container {
		padding-right: 50px;
	}
	.weather-info {
		margin: 30px 0;
	}
	.title-container {
		height:50vh;
		background-position: top center;
	}
	.main,
	.wrapper	{
		height: 100%;
	}
}